@model List<Product>
@{
    ViewData["Title"] = "Zhatis Shop";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_CartProduct" model="item"/>
        }
    </div>

</div>
