@page
@model E_Shop.Pages.Admin.IndexModel
@{
}


<body>
    <h1>ویرایش کالا</h1>
    <hr />
    <a asp-page="Add" class="button" style="vertical-align:middle"><span>افزودن کالا</span></a>
    <table>
        <thead>
            <tr>
                <th>عکس</th>
                <th>نام</th>
                <th>قیمت</th>
                <th>دستورات</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {


                <tr>
                    <td> <img src="/Images/@(item.Id).jpg" height="70" width="70" /> </td>
                    <td>@item.Name</td>
                    <td>@item.Item.Price</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id">ویرایش</a> 
                        <a asp-page="Delete" asp-route-id="@item.Id"> حذف </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>

</body>
