@using E_Shop.Repository
@inject IUserRepository userRepository


<li class="wallet">
    @*<span class="badge badge-success">کیف پول : @userRepository.GetWalletUser(@User.Identity.Name)</span>*@
    @*<a href="#" class="badge badge-dark"></a>*@
    <a class="btn" href="#" role="button" aria-expanded="false">
        <i class="fas fa-wallet" style="color: white"></i>
        <a>@userRepository.GetWalletUser(@User.Identity.Name).ToString("N0") تومان</a>
    </a>
    <div class="dropdown-menu">
    </div>
</li>